# Tuples

By the end of this notebook, You will understand some really cool and important stuff regarding Tuples.

# Basics of Tuples
    
  __1.Tuples are immutable__
        
  __2.Declared in normal braces "()".__    
    
  __3.It can be the collection of other datatypes in python.__    
    
  __4.Assigning a value to tuple:__    
        
        Variable = tuple(1,2,['sai',2],{'key':value,'key2':value})       
        
   __5.Accessing through indexing:__
   
 __1) i/p-->__ Variable[0] 
         
   __o/t-->__ 1
                
   __2) i/p-->__ Varible[0:2]
         
   __o/t-->__ (1,2)
                
   __3) i/p-->__ Variable[-1]
   
   __o/t-->__ ({'key':value,'key2':value})

# Now lets discuss 5 most important uses of tuples

## Use case  1 : In Exploratory data analysis

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'C:/Users/G.VENKATARAMANA/ML Programs/Salary_Data.csv')

In [3]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In the above data, we have salary data with 2 columns.So, if we want to iterate both the columns for some analysis then 

__we have to think those two columns as row number of pack of two tuples.__

__Let's implement and learn..!!__

In [5]:
pack_of_tuples = []

for i,years,sal in data:
     pack_of_tuples.append(years)

ValueError: too many values to unpack (expected 3)

In [6]:
pack_of_tuples

[]

The problem is now identified, We apply tuple unpacking to take the values and do the analysis.

### Tuple unpacking 1

In [13]:
pack_of_tuples = []
salary = []
for i in data[['Salary','YearsExperience']].itertuples(index = False,name =None):
     pack_of_tuples.append(i)

        
for i,y,h in data.itertuples():
    salary.append(h)

In [14]:
pack_of_tuples

[(39343.0, 1.1),
 (46205.0, 1.3),
 (37731.0, 1.5),
 (43525.0, 2.0),
 (39891.0, 2.2),
 (56642.0, 2.9),
 (60150.0, 3.0),
 (54445.0, 3.2),
 (64445.0, 3.2),
 (57189.0, 3.7),
 (63218.0, 3.9),
 (55794.0, 4.0),
 (56957.0, 4.0),
 (57081.0, 4.1),
 (61111.0, 4.5),
 (67938.0, 4.9),
 (66029.0, 5.1),
 (83088.0, 5.3),
 (81363.0, 5.9),
 (93940.0, 6.0),
 (91738.0, 6.8),
 (98273.0, 7.1),
 (101302.0, 7.9),
 (113812.0, 8.2),
 (109431.0, 8.7),
 (105582.0, 9.0),
 (116969.0, 9.5),
 (112635.0, 9.6),
 (122391.0, 10.3),
 (121872.0, 10.5)]

### Tuple unpacking 2

In [15]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

In [16]:
s1

'foo'

In [17]:
s2

'bar'

In [18]:
s3

'baz'

In [19]:
s4

'qux'

## Use case 2 :  Removing duplicates using tuples

Using sets concept in removing the duplicate values in list of tuples.

__It helps in explore the data in a much accurate way and provide valuable insights.__

In [21]:
def removeDuplicates(lst):
    return [t for t in (set(tuple(i) for i in lst))]

The function takes list,tuples as input as removes duplicate values from the input and

__returns list with original values.__

This simple function runs on concept of __sets which doesn't accept duplicate values.__

In [23]:
tup = [(1,2),(3,5),(4,5),(1,2)]

Knowingly defined an list with duplicate values to showcase the working of the function.

In [24]:
j = removeDuplicates(tup) # Called the function with list input.

In [26]:
j

[(1, 2), (4, 5), (3, 5)]

Knowingly created a tuple with duplicate values to demonstrate

__the function to remove the duplicates from the data.__

While working with data for data analysis, __data without duplicates will help in predicting more valuable insights__

## Use case 3 : Search methods

Let's discuss some of the most important search methods that can be used in various usecases

### via indexing

In [27]:
tup1 = (1,2,[12,'charan'],{'sai':19,'sonu':99})

In [30]:
tup1[2]

[12, 'charan']

In [31]:
tup1[2][1]

'charan'

### via boolean

In [32]:
5 in tup1

False

In [33]:
1 in tup1

True

### via looping

In [35]:
for i in tup1:
    if i==2:
        print("True")      #looping entire tuple with one output.

True

In [36]:
for i in tup1:
    print(i is 2)      #looping and output for each iterative.

False
True
False
False

## Use case 4 : Updating tuple

Even though tuples in python are immutable in nature, a nested object in a tuple can be changed.

Or in general, a tuple in python can be reassigned with a different value.

In [37]:
tupl1 = (1,2,3)

In [38]:
tupl1[0] = 5

TypeError: 'tuple' object does not support item assignment

We will get an error showing __item assignment not supported in tuple__

In [40]:
tupl = (1,2,3,[12,5])

Created a nested tuple with numbers and list data 

Now let's try to update the value in the above nested tuple.

In [41]:
tupl[3][0] = 15

In [42]:
tupl

(1, 2, 3, [15, 5])

Now we can see that we can update the values in tuple.

That is because it is a __nested tuple__

## Use case 5 : Built-in useful function

__Delete function for tuple__

In [44]:
num = (7,2,3,4,5)
num

(7, 2, 3, 4, 5)

In [45]:
del num

In [46]:
num

NameError: name 'num' is not defined

__Finding length of the items__

In [47]:
alpha = ('a','b','c')
alpha

('a', 'b', 'c')

In [48]:
len(alpha)

3

__Sort the values__

In [49]:
numbers = (21,3,4,1,5,7)
numbers

(21, 3, 4, 1, 5, 7)

In [50]:
sorted(numbers)

[1, 3, 4, 5, 7, 21]

__Using lambda function for applying different conditions__

In [51]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [54]:
data['bool'] = data['Salary'].apply(lambda score: 'True' if score >= 60000 else 'False' )

In [55]:
data

    YearsExperience    Salary   bool
0               1.1   39343.0  False
1               1.3   46205.0  False
2               1.5   37731.0  False
3               2.0   43525.0  False
4               2.2   39891.0  False
5               2.9   56642.0  False
6               3.0   60150.0   True
7               3.2   54445.0  False
8               3.2   64445.0   True
9               3.7   57189.0  False
10              3.9   63218.0   True
11              4.0   55794.0  False
12              4.0   56957.0  False
13              4.1   57081.0  False
14              4.5   61111.0   True
15              4.9   67938.0   True
16              5.1   66029.0   True
17              5.3   83088.0   True
18              5.9   81363.0   True
19              6.0   93940.0   True
20              6.8   91738.0   True
21              7.1   98273.0   True
22              7.9  101302.0   True
23              8.2  113812.0   True
24              8.7  109431.0   True
25              9.0  105582.0   True
26              9.5  116969.0   True
27              9.6  112635.0   True
28             10.3  122391.0   True
29             10.5  121872.0   True